.group_torrent a {
 color:#aaa; 
 /* !important */
}

.group_image:hover img {
 border-radius:0;
 /* position:absolute;
 -webkit-transform:scale(3.2);
 -ms-transform:scale(3.2);
 transform:scale(3.2);
 left:2px;
 top:2px */
}
